@page
@model AboutModel
@{
    ViewData["Title"] = "";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>
<hr>
    <h4> 
        &#x1F56E;&#x2615;&#x1F941;&#x1F3A7;&#x270A;&#x1F3FF;&#x1F962;<p>Edmar M. Santos &lt;Dimas&gt;</p>
    </h4>
      <p class="text-justify">Músico (Baterista)<br>
      Apaixonado por Tecnologia e Animais <br>
      
      

      <p class="text-justify"></p>
<hr>
<div class="container">
    <div class="row">
       <h3> &#x1F4C4;&#x1F58B;&#xFE0F;Mini Currículo</h3>
          <p class="text-justify">Com mais  de 10 anos  na  área  de tecnologia tendo atuado principalmente com Suporte Técnico / Suporte à  Sistemas atualmente em transição de carreira para a área de Desenvolvimento.
           Estudante com conhecimento e cursos nas linguagens / tecnologias: C#, .NET, HTML5, CSS3, SQL.<br>
           Buscando  me tornar um Desenvolvedor</p>
    </div>
     
</div>

