@page
@model ContactModel
@{
    ViewData["Title"] = "";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>
<h3>
    <p class="lead">Entre em contato comigo através dos  canais abaixo</p>
</h3>

<br>
<p class="" margin-right="15px">
   &#x260E;&#xFE0F;+55 011 2222-4433  &#x1F4F1;  +55 011 9999-8080
</p>
    <div class="container">
        <div class="row">
                <div class="btn-space" margin-right="15px">
                    <a class="btn btn-outline-info btn-space"href="santosem4@hotmail.com"> &#x1F4E7;E-mail</a>
                    <a class="btn btn-outline-info btn-space"href="https://www.linkedin.com/in/edmar-santos-m"> &#x1F44D;&#x1F3FF;Linkedin</a>
                    <a class="btn btn-outline-info"href="https://github.com/EdmarSantosM"> &#x1F517;Git Hub</a>
                </div>
        </div>

    </div>
     
</p>





