@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="jumbotron">
    <div class="container">
        <h1 class="text-center">&#x1F468;&#x1F3FF;&#x200D;&#x1F4BB;<span><aria-hidden ="true">Workshop Asp.Net Core para Iniciantes</span></h1>
    </div>
    <br><br>
    <hr class="m-y-md">
    <br>

     <div align="center">
             <p class="lead" align="text-center">
                 &#x1F4BB;&#x2328;&#xFE0F;&#x1F5B1; <i>
                     -"Se te oferecem um lugar em um foguete, não pergunte qual é o assento, apenas embarque."
                 </i>
                 <p>
                    <b>Sheryl Sandberg</b> 
                 </p>
             </p>
     </div>
     <hr class="m-y-md">
</button>
</div>